$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 10px;
  padding: 10px;
}

hr#section {
  color:red;
  background-color:red;
}
// Navigation

.nav-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.nav-container {
  text-align: center;
}
// clearfix

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
// Forms

// Initial Hide
#change-password,
#change-password-btn,
#change-password-error,
#delete-tracker-form,
#get-tracker-form,
#new-tracker-form,
#post-change-warning,
#show-tracker-form,
#sign-in,
#sign-in-success,
#sign-in-warning,
#sign-out,
#sign-out-btn,
#sign-out-success,
#sign-out-warning,
#sign-up,
#sign-up-success,
#sign-up-warning,
#update-tracker-form,
.dashboard-container {
  display: none;
}

// Generated table
#table-gen-id {
  width:100%;
  border: 1px solid black;
  text-align: center;
}

#table-gen-id td {
  width: 14%;
}

.tg-td-details-view, .tg-td-details-update, .tg-td-details-delete {
  text-align: center;
}
