$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 10px;
  padding: 10px;
}

hr#section {
  color:red;
  background-color:red;
}
// Navigation

.nav-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.nav-container {
  text-align: center;
  margin: 10px;
}
// clearfix

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
// Forms

// Initial Hide
#change-password,
#change-password-btn,
#change-password-error,
#delete-tracker-form,
#get-tracker-form,
#new-tracker-form,
#post-change-warning,
#show-tracker-form,
#sign-in,
#sign-in-success,
#sign-in-warning,
#sign-out,
#sign-out-btn,
#sign-out-success,
#sign-out-warning,
#sign-up,
#sign-up-success,
#sign-up-warning,
#update-tracker-form,
.dashboard-container {
  display: none;
}

.alert {
  display: none;
}

// Generated table
#table-gen-id {
  width:100%;
  border: 1px solid black;
  text-align: center;
}

#table-gen-id td {
  width: 16%;
  border: 1px solid black;
}

#table-gen-show {
  width:80%;
  border: 1px solid black;
  text-align: center;
}

#table-gen-show td {
  width: 80%;
  border: 1px solid black;
}

.comments-input, {
  width: 80%;
  height: 150px;
}

#new-form-error, #update-form-error {
  display: none;
}

//hides student id column
.tg-id-hide {
  display: none;
}

.tg-td-details-view, .tg-td-details-update, .tg-td-details-delete {
  text-align: center;
}

.dashboard-description {
  text-align: center;
  margin: 10px;
}

.form {
display: inline-block;
text-align: center;
}

#table-gen-show {
  margin: auto;
  padding: 3px;
}

#table-gen-show td {
  padding: 3px;
}

.td-gen-comments-show {
  text-align: left;
}

.submit-btn {
  margin: 5px;
}

.field-input {
  margin: 5px;
}

.field-description {
  margin:0;
  padding:0;
}

// Form Styling

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-container button {
  width: 165px;
  background-color: blue;
  color: white;
  padding: 10px 14px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard-btn {
  width: 165px;
  background-color: blue;
  color: white;
  padding: 10px 14px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

// Update Btn on show
.td-gen-update-show {
  text-align: center;
}

@media screen and (max-width: 750px) {
    input[type=text], select {
        width: 75%;
    }
    input[type=submit] {
        width: 30%;
    }
    input[type=password], select {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    input[type=text], select {
        width: 100%;
    }
    input[type=submit] {
        width: 45%;
    }
    input[type=password], select {
        width: 100%;
    }
}
